<% if @comment.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= @comment.errors.count %>件のエラーがあります。
    </div>
    <ul>
    <% @comment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>